[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
neovim = "*"
flake8 = "*"
ipython = "*"

[packages]
aws-sam-cli = "*"

[requires]
python_version = "3.6"
